body {
    background-color: lightgray;
}
.filter {
    display: block;
    position: sticky;
    top: 20px;
}

.neonText {
    animation: flicker 1.5s infinite alternate;
    color: hotpink;
    font-size: 6rem;
  }
  /* Flickering animation */
  @keyframes flicker {

    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px hotpink,
        0 0 80px hotpink,
        0 0 90px hotpink,
        0 0 100px hotpink,
        0 0 150px hotpink;
    }
    20%, 24%, 55% {
        text-shadow: none;
    }
  }


